DATABASE_URL=postgresql://postgres.SEU_PROJECT_REF:SUA_SENHA@aws-1-sa-east-1.pooler.supabase.com:6543/postgres
JWT_SECRET=gere_um_secret_longo_e_aleatorio_aqui
GEMINI_API_KEY=AIzaSy...
NODE_ENV=development
PORT=3001
